*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(to top right, #485da6, #00a1ba, #00bf98, #36c486)
    center / cover; */
  background-color: #00bf98;
  font-size: 1.6rem;
  height: 100vh;
  overflow-y: scroll;
}

.container {
  width: min(85%, 70rem);
  margin: 0 auto 3.2rem;
  text-align: center;
}

.header {
  padding: 6.4rem 0 3.2rem;
}

.primary {
  color: #fff;
  font-size: 5.2rem;
  font-weight: 300;
  margin-bottom: 3.6rem;
}

.search {
  position: relative;
}

input[type="text"] {
  background: transparent;
  outline: none;
  padding: 1rem 0.5rem;
  width: 75%;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.589);
  font-size: 2.4rem;
  font-family: inherit;
  font-weight: 200;
  letter-spacing: 1px;
}

input[type="text"]:focus {
  border-bottom: 1px solid #570ad4;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.726);
}

input[type="text"]:focus::placeholder {
  color: transparent;
}

.add {
  position: relative;
}

.search label {
  position: absolute;
  top: 40%;
  left: 13%;
  z-index: -1;
  display: block;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  opacity: 0;
  transition: 0.3s;
}

.add label {
  display: block;
  position: absolute;
  top: 10%;
  left: 13.5%;
  z-index: -1;
  opacity: 0;
  font-weight: 300;
  transition: 0.3s;
}

.search input:focus ~ label {
  top: -25%;
  color: #570ad4;
  opacity: 1;
}

.add input:focus ~ label {
  top: -8%;
  color: #570ad4;
  opacity: 1;
}

.list {
  list-style: none;
  width: 85%;
  height: auto;
  padding: 1rem;
  /* overflow-y: scroll; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 3.6rem;
}

.list-item {
  color: #444;
  padding: 1.5rem 2rem;
  border-radius: 9px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  background-color: rgb(198, 241, 243);
  box-shadow: 0 1rem 2rem 0.6rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}

.p {
  text-align: left;
  word-wrap: break-word;
}

.delete {
  cursor: pointer;
  transition: all 0.2s;
}

.delete:hover {
  color: #693db1;
  transform: scale(1.15);
}

.list-item:hover {
  transform: scale(1.03);
}

.add {
  color: #570ad4;
}

.add ~ input {
  margin-bottom: 2.4rem;
}

.btn {
  border: 1px solid #fff;
  padding: 1rem 2.5rem;
  display: inline-block;
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 6px;
  margin: 0 auto;
  letter-spacing: 1px;
  color: #845ec2;
  margin: 5rem auto;
  transition: all 0.3s;
}

.btn:hover {
  color: #fff;
  background-color: #845ec2;
}

.btn-clear {
  color: #d64444;
}

.btn-clear:hover {
  color: #fff;
  background-color: #d64444;
}

.filtered {
  display: none !important;
}

.strike {
  text-decoration: line-through;
  text-decoration-color: #d64444;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
}

.alert {
  background-color: #fff;
  width: 35%;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 1.8rem;
}

.alert-green {
  border: 2px solid #07e664;
  color: #07e664;
}

.alert-red {
  border: 2px solid crimson;
  color: crimson;
}

.none {
  display: none;
}

/* content editable */
.edit {
  cursor: pointer;
  transition: all 0.2s;
}

.edit:hover {
  color: #ceb5f7;
  transform: scale(1.15);
}

.edit-active {
  color: #5719b9 !important;
  transform: scale(1.25) !important;
}

[contenteditable]:active,
[contenteditable]:focus {
  border: none;
  outline: 2px solid #845ec2;
  border-radius: 15px;
  padding: 0.5rem 1.5rem;
}

/* checked */

.check {
  cursor: pointer;
  transition: all 0.2s;
}

.check:hover {
  color: rgb(226, 106, 130);
  transform: scale(1.15);
}

.check-active {
  color: rgb(146, 49, 68) !important;
  transform: scale(1.25) !important;
}

@media (max-width: 31.25em) {
  .container {
    width: min(95%, 70rem);
  }

  .list {
    width: 100%;
  }
}
